.login-form .form-group{

width: 35vw;
}

.login-form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 200px;
}


.login-form .input-container{
padding: 20px;
border: 2px solid white;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
}

.login-button{
margin-top: 15px;
   width: 250px; 
}


label {
   color : white;
}