h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px!important;
    
}


.home-container {
height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-container img {
width: 500px;
height: 500px;
    margin-top: 50px;
}